/* Estilos para aplicaciones auxiliares de validación
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-family: 'Open Sans-Serif', Sans-Serif;
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/*-------------ESTILOS AGREGADOS---------------*/

fieldset label
{
    display: block;
}
fieldset input
{
    display: block;
    margin-bottom : 5px;
}


/*----------TUTORIAL MOD-----*/
*{
    padding: 0;
    margin: 0;
}

body 
{
    font-family: 'Open Sans-Serif', Sans-Serif;
}

a{
    text-decoration: none;
    color: #000;
}

.contenedor
{
    width 100%;
    min-height: 100;
    margin: 0 auto;
    display: block;
}

.header
{
    background: #fff;
}

.menu-lateral
{
    background: #ccc;
}

.main
{
    background: #414141;
}

.titulo
{
    font-family: 'Open Sans-Serif', Sans-Serif;
}